/*
##############
### LAYOUT ###
##############
*/

* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}

/*
##############
### PIXELS ###
##############
*/

.pixel-block {
    width: 2vw;
    height: 2vw;
}

.canvas {
    width: 32vw;
    flex-wrap: wrap;
    margin: 20px;
}